name: .NET Core

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-16.04

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
    - name: Build with dotnet
      run: dotnet build ConsoleApp1/ConsoleApp1.sln
    
    - name: Run InferSharp
      id: infersharp
      uses: ./
      with:
        binary-path: 'ConsoleApp1/ConsoleApp1/bin'
    - name: InferSharp analysis results
      run: echo "${{ steps.infersharp.outputs.results }}"